*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary-color);
}
:root{
    --primary-color:  #0a0b0a;
    --secondary-color: #1b1b1c;
    --text-color1: #fff;
    --text-color2:#aaaaaa;
    --primary-text: Helvetica, Arial, sans-serif !important;
    --secondary-text:  "Poppins", sans-serif !important;
}
.contain{
    width: 100%;
    height: 100%;
}
.contain-img{
    width: 100%;
    height: 500px;
}

.mB-2{
    margin-bottom: 20px;
}
.m-cancel{
    margin: 0px !important;
}
.text-grey{
    color: var(--text-color2);
}
.bg-grey{
    background-color: var(--secondary-color);
}
.bg-color{
    background-color: var(--primary-color)!important;
}
.m-top-s{
    margin-top: 10px !important;
}
.top-60{
    top: 20px !important;
}
.top-70{
    top: 30% !important;
}
.top-80{
    margin-top: 50px !important;
}
.gap{
    gap: 20px !important;
 }
.gap2{
     gap: 30px;
 }
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.overflow-hide{
    overflow: hidden;
}
.text-xxl{
    font-size: 3.5em;
    font-weight: 545;
    font-family: var(--primary-text);
}
.text-xl{
      font-size: 40px;
      font-family: var(--primary-text);
  }
.text-x-l{
    font-size: 28px !important;
    font-weight:500 !important;
    font-family: var(--primary-text);
}
.text-l{
    font-size: 22px !important;
    font-weight:50 !important;
    font-family: var(--primary-text);
}
.text-tiny{
    margin-top: 20px;
    font-size: 11px;
}
.text-Left{
    text-align: left;
}
.lh-0{
    line-height: 0;
}
.l-space-s{
    letter-spacing: 3px;
}
.l-space-l{
    letter-spacing: 10px;
}
.fs-7{
    font-size: 12px;
}
.btn{
    padding: 10px 30px !important;
    background: none !important;
    border: 2px solid var(--text-color1) !important;
    color: var(--primary-text) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    border-radius: 0% !important;
}
.btn-reverse{
    border: none !important;
    background-color: var(--text-color1) !important;
    color: black !important;;
}
.btn:hover{
    background-color: var(--text-color1) !important;
    color: #000 !important;
}
.btn-reverse:hover{
    background-color: #99606e !important;
    color: var(--text-color1) !important;
}
.img-height{
    height: 300px !important;
}
.wdQ{
    width: 25%;
    height: 100%;
}
.wd1{
    height: 400px !important;
    color: var(--text-color1) !important;
}
.wd2{
    height: 500px !important;
    color: var(--text-color1) !important;
}
.wd2H{
    height: 600px !important;
    color: var(--text-color1) !important;
}
.wd3{
    height: 700px !important;
    color: var(--text-color1);
}
.pxd{
    padding: 100px  0px !important;
}
.mgH-auto{
    margin: 40px 40% !important; 
}
.card-container{
    justify-content: space-around;
}
.cardS{
    height: 500px;
    width:  30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-overlay h1{
    font-size: 28px;
    font-weight: 500;
    font-family: var(--primary-text);
    color: var(--text-color1);
}
.card-overlay{
    width: 100%;
    height: 100%;
    padding-top: 95%;
    background: rgb(10,11,10);
    background: linear-gradient(0deg, rgba(10,11,10,1) 0%, rgba(10,11,10,0.23573179271708689) 31%, rgba(255,255,255,0) 100%);
}
#card1{
    background-image: url(/images/taylor-kiser-s7Vh1kg-clM-unsplash.jpg);
}

#card2{
    background-image: url(/images/klara-kulikova-y2nJ8lG640o-unsplash.jpg);
}

#card3{
    background-image: url(/images/clovis-wood-photography-FT1PJqW0qtE-unsplash.jpg);
}
.demacation-cont{
    height: 40px;
    width: 100%;
    margin: 30px 0px;
}
.demacation-div{
    width: 50%;
    height: 100%;
}
.div-left-border{
    border-left-color: var(--text-color1);
    border-left-style: solid;
    border-left-width: 2px;
}
.menu-cont{
    width: 80%;
    height: 320px;
    gap: 65px;
    margin: auto;
}
.menu-cont p{
    line-height: 1;
}
.menu-content h6{
    line-height: 1.5;
    color: var(--text-color2);
    font-weight: lighter;
    font-size: 13px;
    font-family: var(--secondary-text);
}
.menu-content p{
    font-weight: 500;
    font-family: var(--secondary-text);
}
.visit-image{
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visit-overlay{
    width: 100%;
    height: 100%;
    padding-top: 65%;
    padding-left: 50px;
    background: rgb(10,11,10);
    background: linear-gradient(0deg, rgba(10,11,10,1) 0%, rgba(10,11,10,0.23573179271708689) 31%, rgba(255,255,255,0) 100%);
}
#visit-image1{
    background-image: url(/images/soulkitchen-88.jpg);
}
#visit-image2{
    background-image: url(/images/ranjith-alingal-f-MvFZ6-M3U-unsplash.jpg);
}
.bg-overlay{
    width: 100%;
    height: 100%;
    background: rgb(10,11,10);
    background: linear-gradient(0deg, rgba(10,11,10,0.6222864145658263) 0%, rgba(10,11,10,0.3225665266106442) 31%, rgba(0,0,0,0.2049194677871149) 100%);
}
.footing{
    height: 80px;
    width: 100%;
    padding: 0px 50px;
}
.footing h6{
    color: var(--text-color1);
    font-weight: lighter;
    font-size: 10px;
    font-family: var(--secondary-text);
}
